{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Ujjawal has written {{ Blogs.count }} blog{{ Blogs.count|pluralize }}</h3>

{% for Blog in Blogs %}

<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' Blog.id %}">
        <h2>{{ Blog.title }}</h2>
    </a>
    <h5 class="text-muted">{{ Blog.post_date|date:'M d Y'|upper }}</h5>
    <h4>{{ Blog.description|striptags|truncatechars:150 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}